.label {
    -fx-text-fill:#441791;
}

.button {
    -fx-background-color:rgb(205, 167, 233);
    -fx-text-fill:rgb(97, 32, 209);
}

.root {
    -fx-background-image: url("../images/HomeScreenv2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}